html { 
  background-color:#f1f1f1;
  overflow:hidden;
}

body {
  font-family: 'Raleway', sans-serif;
  color:#383838;
}

a {
  color:#ed783b;
  text-decoration:none;
}

a:hover{
  color:#f1bd4d;
}

h1, h2, h2 {
  color:#351414;
}

h1 {
  font-size:1.3em;
}

h2, h3 {
  font-size:1.1em;
}

header { 
  height:70px;
  background-color:white;
  border-bottom:1px #ddd solid;
}


footer {
    bottom: 0;
    height: 60px;
    left: 0;
    position: absolute;
    width: 100%;
    background-color:#351414;
    color:#fff;
    font-size:.8em;
    padding-left:20px;
}
/*padding / margin fix for lists */
ul, ol {
  padding:0;
  margin:0;
}

/*********************
/* Site Layout and Navigation
/*********************/

.scrollListLabels {
    display: flex;
    justify-content: space-around;
    font-size:.8em;
    display:block;
    font-style:italic;
}

.wrapper {
  display: flex; 
  justify-content: space-around; 
}

.userSortSettings {
    background:white;
    border-bottom:1px #ddd solid;
    margin-bottom:14px;
    height:50px;
    text-align:center;
}

.filterButton{
    color:red;
}
.searchInput {
    border:1px solid #ddd;
    border-radius:20px;
    height:30px;
    width:380px;
    background-color:white;
    outline:none;
    padding-left:12px;
    left:40px;
    margin-top:8px;
}

/*********************
/* mealOptions Filters
/*********************/

.filters {
    width:600px;
    margin-left:26px;
    display:inline-block;
}

.filterNav li {
    list-style:none;
    font-size:.85em;
    cursor:pointer;
    display:inline;
    padding:4px 6px 6px 8px;
    margin-right:5px;
    background-color:#f1f1f1;
    border-radius:3px;
    text-transform:uppercase;
    text-align:center;
}

.filterNav li:hover {
    background-color:red;
}


.navMenu {
    list-style: none;
    font-size:1em;
    text-transform:uppercase;
    height:70px;
    display:table;
}

.navMenu li a { 
    padding:4px;
    border-radius:4px;
    position:relative;
    top:50%;
    transform: translateY(-50%);
}

.navMenu > li {
  display: table-cell;
  vertical-align:middle;
  padding-right:.8em;
  padding-top:10px;
}

.navMenu > li:before {
  padding-right: 0.1em;
}

.navMenu > li:nth-child(1) {
  padding-left:50px;
}

.navMenu > li:after {
  content: " »";
}

.navMenu li a:hover {
  background-color:indianred;
}

/*********************
/* Meal List (left side)
/*********************/

.mealsSnippetContainer {
  height:500px;
  width:55.5%;
  max-width:55.5%;
  overflow-x:hidden;
    margin-left:20px;
    margin-right:10px;
}

.mealsSnippetContainer:hover{
  overflow-y:scroll;
}

.mealsSnippetContainer h1 {
  margin:0 auto;
  font-style:italic;
}

.meals {
  list-style: none;
}

ul.mealGrid {
    list-style:none;
}

ul.mealGrid li {
    display: inline-block;
    background-color:white;
    border:1px solid #ddd;
    vertical-align:top;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    width:23.5%;
    height:200px;
    transition: background-color .5s linear;
    -moz-transition: background-color .5s linear;
    -webkit-transition: background-color .5s linear;
    -ms-transition: background-color .5s linear;
    overflow:hidden;
    margin:.6% .6%;
    position:relative;
    cursor:pointer;
}

ul.mealGrid li:hover {
    webkit-box-shadow: 0 2px 6px rgba(50,50,50,0.50);
}

.mealPreviewButton img {
    max-width:200%;
    max-height:100%;
    position:relative;
    overflow:hidden;
}

.mealPreviewButton img:hover {
    opacity: 0.75;
}

.prepData {
    color:white;
    position:absolute;
    display:block;
    right:3px;
    bottom:80px; /*must match height in mealGridTextArea*/
    text-shadow: 1px 1px #000000;
}

.mealGridTextArea {
    font-size:.7em;
    width:100%;
    background-color: rgba(0, 0, 0, 0.7);
    height:80px;
    bottom:0px;
    display:block;
    position:absolute;
    color:white;
}

.mealGridTextArea h3,p {
    margin-left:8px;
    margin-right:3px;
    line-height:1em;
}

/*
.mealPreviewButton:hover {
  background-color:#f1f1f1;
  transition: background-color .2s linear;
  -moz-transition: background-color .2s linear;  
  -webkit-transition: background-color .2s linear; 
  -ms-transition: background-color .2s linear;
    box-shadow: 0 0 5px #ddd;
}*/

.selectedMeal .mealTitle {
    font-style:italic;
    color:#f1bd4d;
    transition:color .5s linear;
    -moz-transition: color .5s linear;
    -webkit-transition: color .5s linear;
    -ms-transition: color .5s linear;
}

.selectedMeal .mealTitle:after {
    content: " »";
}
.snippet { 
  width:91%;
  max-width:91%;
}

.thumb {
  float: left;
  height: 80px;
  width: 80px;
  margin:5px;
}

.siteTitle img {
  width:350px;
  float:left;
  display:block;
}

/*********************
/* Meal Details pane (right side)
/*********************/

.mealDetailsContainer {
  float:right;
  display:block;
  width:40%;
  max-width:40%;
  background-color:white;
  height:500px;
  overflow-y:auto;
  overflow-x:hidden;
  padding:0 15px;
  font-size:.8em;
    webkit-box-shadow: 0 2px 6px rgba(50,50,50,0.50);
    -moz-box-shadow: 0 2px 6px rgba(50,50,50,0.50);
    box-shadow: 0 2px 6px rgba(50,50,50,0.50);
  border-radius:6px;
    margin-right:20px;
}

.mealDetailsEmpty { 
  font-size:1.2em;
  text-align:center;
  margin:0 auto;
  padding-top:30px;
}

.mealDetailsEmpty img {
  display:block;
  margin:10% auto;
}

.mealDescription{
  font-style:italic;
  padding:0 50px 0 0;
  line-height:1.5em;
    color:#444;
}

.mealIngredientsList li {
    list-style:none;
}

.mealInstructionsList {
    padding-left:30px;
}

.mealIngredient {
    color:#444;
    background-color:#f8f8f8;
    text-indent:10px;
    border-bottom:1px solid #f1f1f1;
    padding:6px 0;
    width:320px;
    overflow-x:hidden;
}

#mealAdditionalImg {
  width:100px;
  padding:5px;
    webkit-box-shadow: 0 2px 6px rgba(50,50,50,0.50);
    -moz-box-shadow: 0 2px 6px rgba(50,50,50,0.50);
    box-shadow: 0 2px 6px rgba(50,50,50,0.50);
  margin-bottom:20px;
}

.meal-hero-img {
  float:right;
  display:block;
  width:250px;
  padding:10px;
  margin-left:20px;
  margin-bottom:10px;
  webkit-box-shadow: 0 2px 6px rgba(50,50,50,0.50);
  -moz-box-shadow: 0 2px 6px rgba(50,50,50,0.50);
  box-shadow: 0 2px 6px rgba(50,50,50,0.50)
}

.prepTimeData {
  color:#ccc;
    line-height:1.3em;
}

#minsData {
  color:gray;
}

#prepDataHighlight {
  color:#ed783b;
}

.tagNames {
  list-style-type:none;
}

.tag {
    background-color: #dbdbd6;
    padding:5px;
    margin:3px;
}

.tagNames li {
  display:inline;
  padding-right:8px;
  color:gray;
}

/***********
About
************/

.about { 
  width:70%;
  max-width:70%;
  margin:30px auto 0 auto;
  height:500px;
  background-color:white;
  overflow-y:auto;
  overflow-x:hidden;
  padding:20px 50px;
  font-size:.8em;
    webkit-box-shadow: 0 2px 6px rgba(50,50,50,0.50);
    -moz-box-shadow: 0 2px 6px rgba(50,50,50,0.50);
    box-shadow: 0 2px 6px rgba(50,50,50,0.50);
  border-radius:6px;
}

.about ul { 
  padding-left:50px;
}

.about img {
  float:right;
}

/***********
CMS
************/
#new-meal-button {
    font-size:18px;
    font-weight:bold;
    text-align:center;
    display:block;
    margin:0 auto;
}

#admin-bar-left {
    display:block;
    width:28%;
    float:left;
    margin-left:20px;
}

#admin-bar-right {
    width:65%;
    display:block;
    float:right;
    text-align:center;
}

.save-button {
    height:50px;
    width:245px;
    font-size:16px;
    font-weight:bold;
    background-color:#368983;
    color:#fff;
    cursor:pointer;
    padding:8px 10px;
    border-radius:3px;
    border:none;
    margin:10px auto;
}

.cms-wrapper {
  display: flex; 
  justify-content: space-around;
  clear:both;
}

.cms-recipeEdit input, .cms-recipeEdit textarea { 
    background-color:#f5f5f5;
    font-size:14px;
    line-height:20px;
    margin:5px;
    padding:1px;
    border-style:none;
    color:#383838;
}

.admin-input-paragraph {
    width:600px;
    height:140px;
}

.admin-input-short {
    width:100px;
    height:30px;
}

.admin-input-oneline {
    width:300px;
    height:30px;
}

.admin-add-image {
    width:100%;
    background-color:#f5f5f5;
}

.cms-recipeEdit h2 {
  font-size:24px;
  margin-bottom:2px;
}

.cms-checkboxes input { 
  width:30px;
}

.cms-heroImgPreview {
  width:100px;
}

.cms-recipeTitleList {
  height:500px;
  width:26%;
  overflow-y:scroll;
  margin-left:20px;
  background-color:white;
}

.cms-recipeEditContainer {
  height:500px;
  width:68%;
  overflow-y:scroll;
  display:block;
  float:right;
  background-color:white;
}

.toolImg {
    height:300px;
    float:right;
}