<!--meal details on right-->
<div class="cms-recipeEdit">
    <form name="editMealForm">

    <button data-ng-disabled="newMealForm.$invalid" 
            data-ng-click="saveFormContents(formMeal)">SAVE TO DATABASE
    </button>


    <h2>Recipe Name</h2>
        <input  type="text" 
                required data-ng-model="formMeal.name" 
                placeholder="Give your meal a unique name."
                class="admin-input-oneline">
        <a href="" data-ng-click="formMeal.name = ''">Clear</a>

    <h2>Add Photo</h2>
        <div class="admin-add-image">
            <!--prompt for new image-->
            <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>

            <!-- 
            <input type="file" fileread="newImage">
            <a href="" data-ng-click="formMeal.imageUrl('/images/meals/' + newImage.name); fileread={name:''}">UPLOAD PHOTO</a>

            <img ng-src="{{formMeal.imageUrl}}" id="mealImage">
            {{formMeal.imageUrl}}<!-- print the image's filepath-->
            
            <!-- if user has chosen an image, offer trash can icon -->
            <a href="" ng-click="meal.images.pop($index)"><img src="/assets/bin.png"/></a>

        </div>


    <h2>Snippet</h2>
        <input  type="text" 
                required data-ng-model="formMeal.snippet" 
                placeholder="A brief recipe description."
                class="admin-input-oneline">
        <a href="" data-ng-click="formMeal.snippet = ''">Clear</a>

    <h2>Description</h2>
        <input  type="text" 
                required data-ng-model="formMeal.description" 
                placeholder="Tell us about this recipe, where it came from, why it's special. Be creative!"
                class="admin-input-paragraph"/>
        <a href="" data-ng-click="formMeal.description = ''">Clear</a>

    <h2>Tags</h2>
        <div class="shortInput">
            <ol>
                <li data-ng-repeat="tag in formMeal.tags">
                    <input  data-ng-model="formMeal.tags[$index].name"
                            class="admin-input-short">
                    <a href="" data-ng-click="formMeal.tags.pop($index)"><img src="/assets/delete.png"/></a>
                </li>
            </ol>

            <li>
                <input  data-ng-model="newTag.name"
                        class="admin-input-short">
                <a href="" data-ng-click="formMeal.tags.push(newTag); newTag={name:''}">ADD TAG</a>
            </li>

        </div>

    <h2>Dietary Options</h2>
        <div class="cms-checkboxes">
            <input  type="checkbox" 
                    name="mealOptions" 
                    value="noGluten" 
                    data-ng-model="formMeal.mealOptions.glutenfree">
                    Gluten free<br>

            <input  type="checkbox" 
                    name="mealOptions" 
                    value="noDairy" 
                    data-ng-model="formMeal.mealOptions.dairyfree">
                    Dairy free<br>

            <input  type="checkbox" 
                    name="mealOptions" 
                    value="lowCarb" 
                    data-ng-model="formMeal.mealOptions.lowcarb">
                    Low carb<br>

            <input  type="checkbox" 
                    name="mealOptions" 
                    value="lowFat" 
                    data-ng-model="formMeal.mealOptions.lowfat">
                    Low fat<br>

            <input  type="checkbox" 
                    name="mealOptions" 
                    value="paleo" 
                    data-ng-model="formMeal.mealOptions.paleo">
                    Paleo<br>

            <input  type="checkbox" 
                    name="mealOptions" 
                    value="quick" 
                    data-ng-model="meal.mealOptions.quick">
                    Quick<br>

        </div>


    <div class="shortInput">
        <b>Prep time:</b>
        <input data-ng-model="formMeal.prepTime">minutes
        <br>

        <b>Cook time:</b>
        <input data-ng-model="formMeal.cookTime">minutes
        <br>

        <b>Oven temp:</b>
        <input data-ng-model="formMeal.ovenTemp">degrees
        <br>
    </div>


    <br>
    <h2>Ingredients</h2>
        <ol>
            <!-- loop through and display existing ingredients -->
            <li data-ng-repeat="ingredient in formMeal.ingredients">
                <input data-ng-model="formMeal.ingredients[$index].name">
                
                <a href="" data-ng-click="formMeal.ingredients.pop($index)"><img src="/assets/delete.png"/></a>
            </li>

            <!-- entry box for adding new ingredient -->
            <li>
                <input data-ng-model="newIngredient.name">
                <a href="" data-ng-click="formMeal.ingredients.push(newIngredient); newIngredient={name:''}">ADD INGREDIENT</a>
            </li>
        </ol>

    <h2>Recipe Steps</h2>
        <ol class="cms-recipeInstructionSteps">
            <!-- loop through and display existing instructions -->
            <li ng-repeat="instruction in formMeal.instructions">
                <textarea ng-model="meal.instructions[$index].name"></textarea>
                <a href="" ng-click="meal.instructions.pop($index)"><img src="/assets/bin.png"/></a>
            </li>

            <!-- entry box for adding new instruction -->
            <li>
                <textarea ng-model="newInstruction.name"></textarea>
                <a href="" ng-click="formMeal.instructions.push(newInstruction); newInstruction={name:''}">ADD STEP</a>
            </li>
        </ol>
        <br><br><br><br><br><br><br><br>
    </div>
</form>
</div>