<div data-ng-controller="cbmAdminController">
    <header>
        <h1>Edit Chicken Breast Meals Recipe Data</h1>
        <p>Total meals in data: {{meals.length}}</p>
    </header>

    <!-- meal navigator on left -->
    <div class="cms-wrapper">
        <div class="cms-recipeTitleList">
            <ul>
                <li
                    data-ng-repeat="meal in meals | filter: query | orderBy: alphabetical"
                    data-ng-class="{selectedMeal:meals[$index].selected}">
                        <a href="" data-ng-click="editMeal(meal)">{{meal.name}}</a>
                        <a href="" data-ng-click="deleteMeal(meal)">&nbsp&nbsp[Delete]</a>
                </li>
                <a href="" data-ng-click="createNewMeal()">[Create new meal]</a>
            </ul>
        </div><!-- closes cms-recipeTitleList"-->


        <div class="cms-recipeEditContainer">
            
            <div data-admin-edit-meal-form></div><!-- custom directive holds the new meal form -->
        
        </div><!-- closes cms-recipeEditContainer-->
    </div><!--closes cms-wrapper-->
</div>
</html>