<div class="about">
	<h1>Why chicken breast?</h1>
	<img src="./images/site/baconwrappedchicken-1.jpg" class="meal-hero-img"/>

	A lot of people complain that chicken breast is boring, flavorless, and unexciting. I feel differently. 
	</br></br>
	I think chicken breast is a blank canvas upon which to build a work of art. 
	</br></br>
	Chicken can become anything: a bacon-wrapped delight, a substitute for pizza dough, a healthy lunch, an exotic cuisine, a vehicle for delivering crispy deep-fried batter to your face, and more.

	</br>
	<h2>Chicken breast is...</h2>
	<ul>
		<li>High in protein: 24g of protein per 4 oz.</li>
		<li>Versatile: make it sweet, make it hot, make it baked, make it fried.</li>
		<li>Hard to mess up: perfect for beginners and experienced cooks.</li>
		<li>Affordable: a bag of frozen will run you less than $5 at a discount grocer.</li>
	</ul>
	<h1>About Us</h1>
	My family and I love to eat. Note that I said "eat", not "cook". We like the results of cooking far more than we like actually cooking, so these recipes tend to be light on labor and big on yum. We eat a lot of chicken breast - usually once and sometimes twice a day. The recipes you find here are our favorites, perfected over many years and designed to be quick to make and tasy to eat. I hope you enjoy!

	<h1>About this site</h1>
	This site was built using AngularJS, node.js, HTML, CSS, and JavaScript by Mandi Grant as a learning exercise. Her web dev portfolio can be found at <a href="http://mjgrant.org">mjgrant.org</a>. 
	View this site on github: <a href="https://github.com/MJGrant/ChickenBreastMeals.com">https://github.com/MJGrant/ChickenBreastMeals.com</a>
</div>