<div class="mealsScrollList">
    <ul class="mealGrid">
        <li
            data-ng-click="viewRecipe(meal)"
            data-ng-repeat="meal in meals | filter: query"
            data-ng-class="{selectedMeal:meal.selected}"
            class="mealPreviewButton"
            >
                
                
                <div class="mealGridTextArea">
                    <!-- meal image -->
                    <img ng-src="{{meal.image}}"/>
                    <!-- title portion-->
                    <div class="mealGridTitleArea">
                        <a href="" class="mealTitle">{{meal.name}}</a>
                    </div>

                    <!-- brief details portion -->
                    <div class="mealGridDetailArea">
                        <!-- REMOVING TAGS
                        <span class="tagNames" data-ng-repeat="tag in meal.tags">{{tag.name}}</span>
                        -->
                        {{meal.prepTime + meal.cookTime}} mins, {{meal.ingredients.length}} ingredients
                    </div>
                </div>
  
        </li>
    </ul>
</div><!-- closes mealsScrollList"-->