<div class="mealsScrollList">
    <ul class="mealGrid">
        <li
            data-ng-click="viewMealDetail(meal); selectThisMeal(meal)"
            data-ng-repeat="meal in meals | filter: query"
            data-ng-class="{selectedMeal:meal.selected}"
            class="mealPreviewButton"
            >
                <img ng-src="{{meal.images[0]}}">

                <div class="mealGridTextArea">
                    <h3><a href="" class="mealTitle">{{meal.name}}</a></h3>
                    <p class="snippet">{{meal.snippet}}</p>
                </div>

                <span class="prepData">
                    <span class="cookTime">{{meal.cooktime}}</span>
                    <span class="mins">mins</span>
                </span>

        </li>
    </ul>
</div><!-- closes mealsScrollList"-->