<div class="mealsScrollList">
    <ul class="mealGrid">
        <li
            data-ng-click="selectMealViewDetails(meal)"
            data-ng-repeat="meal in meals | filter: query"
            data-ng-class="{selectedMeal:meal.selected}"
            class="mealPreviewButton"
            >
                <!-- meal image -->
                <img ng-src="{{meal.image}}">

                <!-- text region below image-->
                <div class="mealGridTextArea">
                    <!-- title portion-->
                    <div class="mealGridTitleArea">
                        <h3><a href="" class="mealTitle">{{meal.name}}</a></h3>
                    </div>

                    <!-- brief details portion -->
                    <div class="mealGridDetailArea">
                        <span class="tagNames">
                            <li class="tag" data-ng-repeat="tag in meal.tags">{{tag.name}}</li>
                        </span>
                        {{meal.prepTime + meal.cookTime}} mins, {{meal.ingredients.length}} ingredients
                    </div>
                </div>



                
        </li>
    </ul>
</div><!-- closes mealsScrollList"-->